<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  	</head>
<body>
{% if not login_session['user_id'] %}
<!-- If the website visitor has logged in, Then it will show both buttons to Add items/Categories!-->
<b>Please login to be able to Create catogories or items..</b></br></br>
{% else %}
</br>
<button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('categoryNew') }}';">Add Category</button>
<button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('itemAdd') }}';">Add Item</button>
</br>
{% endif %}
{% for r in menuitems %}
</br></br>
<div>
<a href="{{url_for(('showItem'),category_id=r.category_id,item_id=r.id)}}">
{{r.name}} </a>
</br>
</div>
{% endfor %}
</body>

</html>